<%= form_for [@store, @order] do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name %>
  </div>
  <%= associated_fields(f, :line_items, @line_items) %>
  <%= link_to_add_fields "Add Another Item", f, :line_items %><br><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
