<fieldset>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.select(:name, options_for_select(@store.items.all.map {|item| item.name}), selected: @store.items.last) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Item From Order", '#', class: "remove_fields" %>
</fieldset>
