<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer_name %></td>
        <td><%= link_to 'Show', store_order_path(@store, order) %></td>
        <td><%= link_to 'Edit', edit_store_order_path(@store, order) %></td>
        <td><%= link_to 'Destroy', store_order_path(@store, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', stores_path %> |
<%= link_to 'New Order', new_store_order_path(@store) %>
