<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<%= link_to 'Edit', edit_store_item_path(@store, @item) %> |
<%= link_to 'Back', store_items_path(@store) %>
